<form id="diary"><textarea id="a"></textarea>
            <div>
                  <input 
                  id="m" 
                  autoComplete="off" 
                  placeholder="keyword"  
                  {{action "handleChange" on="submit"}} />
                  <button>Send</button>
            </div>
</form>