<form id="diary">
    <textarea
        id="a"
        onblur={{action "handleSubmit" value="target.value"}}
         />
            <div>
                  <input 
                  id="m" 
                  autoComplete="off" 
                  placeholder="keyword"
                  value={{keyphrase}} 
                  onblur={{action "handleChange" value="target.value"}} />
                  <button>Send</button>
            </div>
</form>