<form id="diary" onsubmit={{action "handleSubmit" text keyphrase}}>
    {{textarea
        id="a"
        value=text
    }}
            <div>
                  {{input 
                  id="m" 
                  autoComplete="off" 
                  placeholder="keyword"
                  value=keyphrase}}  
                  <button>Send</button>
            </div>
</form>
<h2>{{encoded}}</h2>